<!-- this form is only used for uploading a profile image -->

<%= form_for(@profile) do |f| %>

<div>
  <div class ="actions" >
    <%= f.filepicker_field :picture_url, services: ["COMPUTER", "FACEBOOK"], :class => "customButton" %>
  </div>
</div>

<div class="actions">
  <%= f.submit "Upload", :class => "customButton" %>
</div>
<% end %>



