<div id="discussions">

    <h2>Discussions</h2>

    <% @discussions.each do |discussion| %>
      <% discussionId = 'discussion-'+discussion.id.to_s %>
      <div id='<%=discussionId%>' >
        <%= discussion %>
        <% @comments = discussion.comments %>
        <% @discussion = discussion %>
        <%= render 'comments/comments' %>
        <%= render 'comments/newComment' %>
    </div>
    <% end %>

</div>