<div id="newCommentDiv" >
	<textarea class="newCommentText" rows="1" style="height: 40px;"></textarea><br>
	<input type="checkbox" name="anonymous" value="anonymous" class="anonymous">Post Anonymously?<br>
	<input type="button" value="Post Reply" class="customButton" id = "createCommentButton">
</div>