<div class="newCommentDiv" >
	<textarea class="newCommentText" rows="1" style="height: 40px;"></textarea><br>
	<input type="checkbox" value="anonymous" class="anonymous">Post anonymously?<br>
	<input type="button" value="Post Reply" class="customButton createCommentButton">
</div>