<div id="newCommentDiv" class="note" >
	<b>New Note</b><br>
	<textarea id="newCommentText" rows="4" cols="50"></textarea><br>
	<input type="button" value="Create Comment" id="createCommentButton">
</div>'