<div class="newCommentDiv" >
	<textarea class="newCommentText" rows="1" style="height: 20px;"></textarea><br>
	<input type="checkbox" value="anonymous" class="anonymous">Post anonymously?<br><br>
	<input type="button" value="Post Reply" class="customButton createCommentButton">
</div>