<div id="partners">

    <h2>Partners</h2>

 <table>
  <tr>
    <th>Name</th>
<!--     <th>Avg rating</th> -->

  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.name %></td>
<!--     <% if partner.avg_rating < 0 %>
        <td>Not enough data.</td>
    <% else %>
        <td><%= partner.avg_rating %></td>
    <% end %> -->
    <td><%= link_to 'Show', partner %></td>
  </tr>
<% end %>
</table>

</div>