<script type="text/javascript">
	function read(){
		$.ajax({
			url: '/read',
        	type:'POST'
        }).error(function(data){
		});
	}
</script>
<li class = "active"><a href = "#" onmouseover = "read()">Notifications <span class = "navbar-unread"><%= @num_unread %></span></a>

	<% if @num_unread > 0 %>
		<ul style = "color:white">
			<% @relevant_notifications.each do |notification| %>

				<% if notification.unread?(current_user) %>
				  	<li>
				  		<% if notification.notify == "c" && notification.title %>
					    <%= link_to notification.user_name + " added a new comment to " + notification.title, review_path(notification.review_id), :style => "color: white;" %></li>
					    <% end %>
					 <%end%>
						<li>
							<% if notification.notify == "d" && notification.unread?(current_user) %>
					    	 <%= link_to notification.user_name + " added a new discussion to your review", review_path(notification.review_id) %>
							<%end %>
						</li>

			<% end %>
		</ul>

	<% else%>
		<ul style = "color:white; font-size:14px; text-align:center;"><li >No unread notifications!</li></ul>
	<%end%>
</li>