<h1>Listing discussion_threads</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussion_threads.each do |discussion_thread| %>
  <tr>
    <td><%= link_to 'Show', discussion_thread %></td>
    <td><%= link_to 'Edit', edit_discussion_thread_path(discussion_thread) %></td>
    <td><%= link_to 'Destroy', discussion_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion thread', new_discussion_thread_path %>
