    <div class="company_detail" class="review" style="display:none;">
        <div><b>Crunchbase URL:</div> <div></b> <a href=<%= company.crunchbase_url %>><%= company.crunchbase_url %></a></div><br>
        <div><b>Overview: </b></div><div><%= company.overview %></div>

    </div>