<div class="container">

    <div class="form-edit">

        <h2 class="form-edit-heading">Add Company</h2>
        <%= render 'form' %>

        <%= button_to 'Cancel', companies_path, :style => "color: white; height: 100%; width: 100px;", :class => "cancelButton", :method => :get %>
    </div>
</div>
