body{
	margin: 20px;
}

.searchbar{
	float: right;
}

.categories{
	float: left;
	width: 200px;
	height: 400px;
	background-color: #b6cce8;
	padding: 10px;
	margin-right:20px;
}

.rightpanel{
	padding: 10px;
	margin: 20px;
	margin-left: 100px;
	
}

#companies{
	padding: 10px;
	margin: 20px;
}