body {
	margin: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.searchbar{
	float: right;
	margin-bottom: 10px;
}

.profilepic{
	margin:40px;
	padding:20px;
	width: 50%;
	max-width: 200px;
	height: 50%;
}


.test{
	width: 200px;
}
.leftpanel{
	float: left;
	width: 300px;
	height: 800px;
}

.categories{
	background-color: #edeceb;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;

}

.rightpanel{
	padding: 10px;
	margin: 20px;
	margin-left: 100px;
	width: 900px;

}

#companies{
	margin-top: 20px;
}

.entry{
	padding: 10px;
	margin-bottom: 20px;
	background-color: #F8F8F8 ;
	border-radius: 5px;
}

.description{
	word-wrap: break-word;
}

#companyinfo{
	word-wrap: break-word;
	text-align: left;
	width: 500px;
	float: left;
}

#companyinfo_detail {
	font-size: 18px;
	line-height: 25px;
	margin-top: 20px;
}

.company{
	margin-top: 10px;
	padding: 10px;
	background-color: #F8F8F8 ;
	border-radius: 5px;
	width: 600px;
}

.partner-form {
	float: left;
	text-allign: left;
	width: 300px;
	margin-top: 10px;
	padding: 10px;
	background-color: #F8F8F8 ;
	border-radius: 5px;
}
#reviews{
/*	margin: 10px;
*/}
.review{
	margin-top: 10px;
	padding: 10px;
	background-color: #F8F8F8 ;
	border-radius: 5px;
	width: 520px;
}

#reviewform{
	margin-left: 500px;
}

.toppanel{
	margin-bottom: 20px;
}
.mainpanel{
	margin-left: 20%;
	width: 700px;
}

#discussionentry{
	width: 600px;
}

.discussion {

	background-color: #F8F8F8 ;

}

.customButton{
	min-width: 150px;
	min-height: 25px;
	box-shadow: none;
	background-color: #1ABC9C;
	border: none;
	color: white;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.cancelButton
{
	min-width: 150px;
	min-height: 25px;
	box-shadow: none;
	background-color: #C2C2C2;
	border: none;
	color: white !important;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;

}

.partners{
	margin-right: 20px;
	margin-top: 0px;
	float:right;
	text-align: right;
}
#partners{
	text-align: right;
	margin-left: 0px;
}

a:hover{
	text-decoration: none;
	background-color: transparent;
	color: #C0392B;
}

.form-edit {
	max-width: 600px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-bottom: 0px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-edit .form-edit-heading,
.form-edit .checkbox {
	margin-bottom: 10px;
}
.form-edit input[type="text"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-edit .textarea{
	font-size: 16px;
	height: auto;
	width: 500px;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-edit .form-subtitle {
	margin-top: 0px;
	float: top;
	height: 80px;
	vertical-align: middle;
	text-align: top;
}

.form-signin {
	text-align: center;
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.form-signin .form-signin-heading,
.form-signin .checkbox
.form-edit .form-edit-heading,
.form-edit .checkbox  {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}


.field_with_errors {
	background-color: red;
	display: table;
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.navbar .brand{
	margin-left: 25px;
	font-weight: none;
	text-shadow:none;
	color: #1ABC9C;
	padding: 0;
	padding-top: 5px;
	font-size: 30px;
}
.navbar .nav li a, .nav.pull-right .active a{
	text-shadow:none;
	color: #ECF0F1;
	font-weight: none;
}

.comments{
	border-top:1px;
}

.freshly-added{
	background-color: #cccccc;
	border-radius: 3px;
}