<!-- 
  <li><a href = "../activities">one</a></li>
  <li>two</li> -->

<ul style = "color:white">
	<% @activities.each do |activity| %>
	  	<li><% if activity.trackable_type == "Comment" && activity.parameters[:title] && Activity.unread_by(activity.owner)%>
		    <%= link_to activity.owner.name + " added a new comment to " + activity.parameters[:title], review_path(activity.key)%></li>
		<% else %>
			<li>
				<% if activity.trackable_type == "Comment" %>
		    	 <%= link_to activity.owner.name + " added a new discussion to your review", review_path(activity.key) %>
				<%end %>
			</li>
		
		<%end %>

	<% end %>
</ul>