
<div id="reviews">
    <% @reviews.each do |review| %>
    <div class="review">
        <b class="reviewTitle"><%= link_to '"'+review.title+'"', review %></b><br>
        <span class="stars"><%= review.rating %></span>
        <%= simple_format review.body %>
    </div>
    <% end %>


</div>